body {
	margin: 0;
    background-color: #131313;
    font-family: 'Nunito';
    font-family: 'Nunito Sans';
    font-family: 'Yeseva One';

    
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;


    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;

}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}


/* Container */

.container__header {
	width: auto;
	max-width: 1440px;
	margin: 0 auto;
    background: rgba(0, 0, 0, 0.7);
        
}

.container__main {
    width: auto;
    max-width: 1440px;
    padding-top: 150px;
    margin-left: 135px;

}

/* Main */

.main {
    background-position: auto;
    background-image: url("../img/image.jpg");
    width: 1440px;
    height: 707px;
    margin-top: 30px;
    margin-left: 560px;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -webkit-background-size: cover;
    background-size: cover;
    font-weight: 1000;
}
/*
.main__inner {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
}
*/
.main__title {	
    font-family: Yeseva One;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #fff;
    width: 500px;
    border-top: 150px;
    margin-bottom: 19px;
}

.main__title--city {
	color: #e3b873;
}

.main__subtitle {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #fff;
    width: 500px;
    margin-top: 20px;

}

/* Header */
.header {
	width: 100%;
	padding-top: 30px;
    
    
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header__inner {
	display: flex;
	justify-content: space-between;
}

.header__logo {
	font-size: 11px;
	font-weight: 700;
	color: #e3b873;
}

/* Nav */
.nav {
	font-size: 11px;
	text-transform: uppercase;
}

.nav__link {
	display: inline-block;
	vertical-align: top;
	margin: 0 30px;
	position: relative;

	color: #fff;
	text-decoration: none;

	transition: color .1s linear;
}

.nav__link-phone {
    display: inline-block;
	vertical-align: top;
	margin: 0 30px;
	position: relative;
	color: #e3b873;
	text-decoration-line: underline;
	transition: color .1s linear;
    
}

.nav__link-phone:hover {
    background-color: #fff;
    color: #333;
}

.nav__btn {
    vertical-align: top;
    padding: 8px 30px;
    margin: 41px auto;
    
    background-color: #e3b873;
    border-radius: 2px;
    font-size: 11px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .1s linear, color .1s linear;
}

.nav__link:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;

	background-color: #fce38a;
	opacity: 0;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;

	transition: opacity .1s linear;
}

.nav__link:hover {
	color: #fce38a;
}

.nav__link:hover:after {
	opacity: 1;
}

/* Button */
.main__btn {
	display: inline-block;
	vertical-align: top;
	padding: 8px 40px;
	margin: 41px auto;
    margin-right: 15px;

    background: #e3b873;
    
    border: 2px solid #e3b873;
    border-radius: 2px;
    text-decoration: none;
    color: #fff;
}

.main__btn-submit {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    margin: 41px auto;

    border: 2px solid #fff;
    border-radius: 2px;
    font-size: 11px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .1s linear, color .1s linear;
}



.main__btn:hover {
	background-color: #e3b873;
	color: #333;
}

.main__btn-submit:hover {
    background-color: #fff;
    color: #333;
}

.nav__btn:hover {
    background-color: #fff;
    color: #333;
}